<!DOCTYPE html>
<!-- Swiper CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper(".mySwiper", {
      direction: "vertical",
      mousewheel: true,
      slidesPerView: "auto",
      freeMode: true,
      scrollbar: {
        el: ".swiper-scrollbar",
        draggable: true,
      },
    });
  });
</script>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mind Your Own Frontend</title>
    <style>
      @import url("https://fonts.cdnfonts.com/css/moonhouse");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&display=swap");
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="menu.css" />
  </head>
  <body>
    <div id="main">
      <div id="page1">
        <div id="menubar">
          <div id="top">
            <i id="close" class="ri-close-line"></i>
          </div>
          <div id="content">
            <div class="menu-content">
              <h2 onclick="changewf()">WebForge</h2>
              <i class="ri-arrow-right-up-line"></i>
            </div>
            <div class="menu-content">
              <h2 onclick="changea()">About Us</h2>
              <i class="ri-arrow-right-up-line"></i>
            </div>
            <div class="menu-content">
              <h2 onclick="changecu()">contact</h2>
              <i class="ri-arrow-right-up-line"></i>
            </div>
            <div class="menu-content">
              <h2>Login</h2>
              <i class="ri-arrow-right-up-line"></i>
            </div>
          </div>
        </div>
        <div id="nav">
          <div id="n1">
            <div class="circle"></div>
            <div class="circle"></div>
            <h2 onclick="refresh()">M.Y.O.F</h2>
          </div>
          <div id="n2">
            <div>
              <h2 onclick="changewf()">Webforge</h2>
            </div>
            <div>
              <h2 onclick="changea()">about us</h2>
            </div>
            <div>
              <h2 onclick="changecu()">contact</h2>
            </div>
            <div>
              <h2><i class="ri-account-circle-line"></i></h2>
            </div>
          </div>
          <div id="n3">
            <i class="ri-menu-4-line"></i>
          </div>
        </div>
        <div id="middle">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="learnings">
                  <div class="content-part">
                    <div class="upper">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiE3_cOHsBf0IFUzVhkw2DSX9RUPnMofZtFA&s"
                        alt="html logo"
                      />
                    </div>
                    <div class="lower">
                      <h2>HTML</h2>
                    </div>
                  </div>
                  <div class="button">
                    <p>LEARN WHAT MATTERS !!</p>
                  </div>
                </div>
                <div class="learnings">
                  <div class="content-part">
                    <div class="upper">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrp0QhoFnqq_qOxRx8z7gRYMm57Oyfq9xeeA&s"
                        alt="css logo"
                      />
                    </div>
                    <div class="lower">
                      <h2>CSS</h2>
                      <p>hello</p>
                    </div>
                  </div>
                  <div class="button">
                    <p>LEARN WHAT MATTERS !!</p>
                  </div>
                </div>
                <div class="learnings">
                  <div class="content-part">
                    <div class="upper">
                      <img
                        src="https://hermes.dio.me/articles/cover/d48c0567-3ceb-45f0-836a-4b61419cadd7.jpg"
                        alt="js logo"
                      />
                    </div>
                    <div class="lower">
                      <h2>JavaScript</h2>
                    </div>
                  </div>
                  <div class="button">
                    <p>LEARN WHAT MATTERS !!</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="learnings">
                  <div class="content-part">
                    <div class="upper">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaC7EwRFaxC0hKVYrB2sFpXDwK7gca2mDXPQ&s"
                        alt="gsap logo"
                      />
                    </div>
                    <div class="lower">
                      <h2>GSAP</h2>
                    </div>
                  </div>
                  <div class="button">
                    <p>LEARN WHAT MATTERS !!</p>
                  </div>
                </div>
                <div class="learnings">
                  <div class="content-part">
                    <div class="upper">
                      <img
                        src="https://xtremethoughts.com/wp-content/uploads/1_adcnxab1qc_5kf8juxdeya.png"
                        alt="three.js logo"
                      />
                    </div>
                    <div class="lower">
                      <h2>Three.js</h2>
                    </div>
                  </div>
                  <div class="button">
                    <p>LEARN WHAT MATTERS !!</p>
                  </div>
                </div>
                <div class="learnings">
                  <div class="content-part">
                    <div class="upper">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6Z-tN4iEnYMXFk1OYTl3iEvrR_h-6kwGTfA&s"
                        alt=""
                      />
                    </div>
                    <div class="lower"></div>
                  </div>
                  <div class="button">
                    <p>LEARN WHAT MATTERS !!</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide last">
                <div id="footer">
                  <hr />
                  <div id="f-mid">
                    <h2>ONLY THAT KNOWLEDGE</h2>
                    <h2>WHICH</h2>
                    <h2>MATTERS.</h2>
                    <h2><i class="ri-ghost-smile-fill"></i></h2>
                  </div>
                  <hr />
                  <p>
                    <i class="ri-copyright-line"></i> 2025 Mind Your Own
                    Frontend. <br />All rights reserved.
                  </p>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/lenis@1.2.0/dist/lenis.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
