<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebForge</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&display=swap");
      </style>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="web.css">
</head>
<body>
    <div id="main">
        <div id="lander">
            <div id="nav">
                <div id="p1">
                    <h1>WEB FORGE.</h1>
                </div>
            </div>
            <div id="other-out">
                <div id="runnner">
                    <i id="mini" class="ri-fullscreen-exit-line"></i>
                    <div id="runner">
                        <i class="ri-play-fill"></i>
                        <p>Run</p>
                    </div>
                </div>
                <iframe id="full"></iframe>
            </div>
            <div id="mid">
                <div id="left">
                    <div id="opt">
                        <div class="logo" id="logo1">
                            <p>HTML</p>
                        </div>
                        <div class="logo"id="logo2">
                            <p>CSS</p>
                        </div>
                        <div class="logo"id="logo3">
                            <p>JavaScript</p>
                        </div>
                    </div>
                    <div id="html1"></div>
                    <div id="css"></div>
                    <div id="js"></div>
                </div>
                <div id="Right">
                    <div id="mediator">
                        <i id="max"class="ri-fullscreen-line"></i>
                        <div id="run">
                            <i class="ri-play-fill"></i>
                            <p>Run</p>
                        </div>
                    </div>
                    <iframe id="right"></iframe>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>
    <script src="web.js"></script>
</body>
</html>

