* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "New Amsterdam", serif;
  cursor: default;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
#main {
  width: 100%;
  height: 100%;
  background-color: #0C0C0C;
}

#page1 {
  width: 100%;
  height: 100%;
  color: #F1EFEB;
  position: relative;
  overflow: hidden;
}
#menubar{
  width: 100%;
  height: 100%;
  position: absolute;
  right: -100%;
  z-index: 4;
  background-color: #F1EFEB;
}
#content{
  color: black;
  font-size: 10vw ;
  padding: 10px;
  letter-spacing: 2px;
  font-weight: 100;
}
#content i{
  text-align: end;
}
.menu-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2px;
}
.menu-content::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
}
.menu-content::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
}
#top{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 3px;
  width: 100%;
  height: 50px;
}
#top i{
  color:rgb(0, 0, 0);
  font-size: 12vw;
}
#nav {
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  /* backdrop-filter: blur(8px); */
}
#n1 {
  width: 20%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#n1 h2 {
  color:#F1EFEB;
  font-size: 2rem;
}
.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #F1EFEB;
  margin-right: 2px;
}
#n2 {
  width: 80%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 50px;
}
#n2 h2{
  cursor: pointer;
}
#n3 {
  width: 0%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  overflow: hidden;
}
#middle{
  width: 100%;
  height: calc(100% - 60px);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#info{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card{
  border-radius: 20px;
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}
.content-part{
    width: 95%;
    height: 85%;
    border-radius: 15px;
    overflow: hidden;
}
.upper1{
  width: 100%;
  height: 45%;
  background-color: white;
  overflow: hidden;
  background-image: url(https://thumbs.dreamstime.com/b/html-css-js-icon-set-web-development-logo-icon-set-html-css-javascript-programming-symbol-html-css-js-icon-set-web-178080904.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid white;

}
.upper2{
  width: 100%;
  height: 45%;
  background-color: white;
  overflow: hidden;
  background-image: url(https://www.skcript.com/_astro/web-animation-with-gsap_Z1uzBqc.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.upper3{
  width: 100%;
  height: 45%;
  background-color: white;
  overflow: hidden;
  background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*yjH3SiDaVWtpBX0g_2q68g.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lower{
  width: 100%;
  height: 55%;
  background-color: #171717;
  text-align: left;
  padding: 20px;
  font-size: 4vh;
  letter-spacing: 1px;
}
ul{
  padding-left: 30px;
  font-size: 3vh;
}
.button{
  border-radius: 15px;
  height: 10%;
  width: 95%;
  background-color: #118B50;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button p{
  font-size: 6vh;
}
hr{
  margin: 20px;
}
#footer{
  width: 100%;
  padding: 50px;
}
#footer h2{
  font-size: 8.5vw;
  line-height: 7vw;
}

@media (max-width: 600px) {

  #nav {
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }

  #n1 {
    width: 25%;
  }
  #n1 h2 {
    font-size: 3vh;
  }
  .circle {
    width: 15px;
    height: 15px;
    margin-right: 1px;
  }
  #n2 {
    display: none;
  }
  #n3 {
    width: 15%;
    font-size: 8vw;
  }
  #info{
    flex-direction: column;
    gap: 25px;
    flex-wrap: nowrap;
    overflow-y: auto;
  }
  .content-part{
    width: 95%;
    height: 90%;
    border-radius: 15px;
    overflow: hidden;
}
  .card{
    border-radius: 10px;
    width: 80%;
    height: 28%;
    flex-shrink: 0;
    gap: 10px;

  }
  .upper1{
    width: 100%;
    height: 45%;
    background-color: white;
    overflow: hidden;
    background-image: url(https://thumbs.dreamstime.com/b/html-css-js-icon-set-web-development-logo-icon-set-html-css-javascript-programming-symbol-html-css-js-icon-set-web-178080904.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid white;
  }
  .upper2{
    width: 100%;
    height: 45%;
    background-color: white;
    overflow: hidden;
    background-image: url(https://www.skcript.com/_astro/web-animation-with-gsap_Z1uzBqc.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .upper3{
    width: 100%;
    height: 45%;
    background-color: white;
    overflow: hidden;
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*yjH3SiDaVWtpBX0g_2q68g.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .lower{
    width: 100%;
    height: 55%;
    background-color: #171717;
    padding: 10px;
    font-size: 3.8vw;
    letter-spacing: 1px;
  }
  ul{
    padding-left: 18px;
    font-size: 2.8vw;
  }
  .button{
    border-radius: 8px;
    height: 15%;
    width: 95%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button p{
    font-size: 7vw;
  }
  hr{
    margin: 10px;
  }
  #footer{
    width: 100%;
    padding: 20px;
  }
  #footer h2{
    font-size: 11vh;
    line-height: 9.5vh;
  }
}
