* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100vw;
  height: 100vh;
}
#lander {
  width: 100%;
  height: 100%;
  background-color: #1e1c1c;
}
#nav {
  width: 100%;
  height: 80px;
  background-color: #ff4545;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#p1 {
  width: 30%;
  height: 100%;
  display: flex;
  margin-left: 20px;
  align-items: center;
}
#p2 {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 20px;
}
#mid {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#left {
  width: 47%;
  height: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  position: relative;
}
#opt {
  width: 100%;
  height: 40px;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo1 {
  width: 33.34%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo2 {
  width: 33.34%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo3 {
  width: 33.34%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
.logo {
  border: 1px solid white;
  cursor: pointer;
}
#html1 {
  width: 100%;
  height: calc(100% - 40px);
  flex-shrink: 0;
  z-index: 2;
  position: absolute;
  bottom: 0;
  border: 1px solid white;
}
#css {
  width: 100%;
  height: calc(100% - 40px);
  flex-shrink: 0;
  z-index: 1;
  position: absolute;
  bottom: 0;
  border: 1px solid white;
}
#js {
  width: 100%;
  height: calc(100% - 40px);
  flex-shrink: 0;
  z-index: 1;
  position: absolute;
  bottom: 0;
  border: 1px solid white;
}
#Right {
  width: 47%;
  height: 95%;
  background-color: #fff;
  position: relative;
  border: 1px solid black;
}
#run {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 35px;
  background-color: rgb(25, 231, 25);
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}
#run p {
  color: black;
  font-weight: 600;
}
#mediator{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
#right {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 40px);
  border: 1px solid black;
}
#other-out{
  width: 100%;
  height: calc(100% - 80px);
  z-index: -1;
  position: absolute;
  background-color: #fff;
  overflow: hidden;
}
#full{
  width: 100%;
  height: 94%;
  z-index: -1;
  position: absolute;
  background-color: #fff;
  bottom: 0;
}
#max{
  font-size: 30px;
}
#runnner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#runnner i{
font-size: 30px;
}
#runner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 35px;
  background-color: rgb(25, 231, 25);
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}
#runner p {
  color: black;
  font-weight: 600;
}